// /*************/
// /***  Low  ***/
// /*************/

//* Shadow: Strong */
$elevation-low-strong-shadow-color: rgba(0, 0, 0, 0.12);
$elevation-low-strong-blur: 1px;
$elevation-low-strong-spread: -2px;
$elevation-low-strong-y-offset: 0;

//* Shadow: Mid */
$elevation-low-mid-shadow-color: rgba(0, 0, 0, 0.08);
$elevation-low-mid-blur: 8px;
$elevation-low-mid-spread: 0;
$elevation-low-mid-y-offset: 1px;

//* Shadow: falloff */
$elevation-low-falloff-shadow-color: rgba(0, 0, 0, 0.08);
$elevation-low-falloff-blur: 16px;
$elevation-low-falloff-spread: 0;
$elevation-low-falloff-y-offset: 2px;

//* Elevation/Low */
$elevation-low-strong: 0px $elevation-low-strong-y-offset
  $elevation-low-strong-blur $elevation-low-strong-spread
  $elevation-low-strong-shadow-color;

$elevation-low-mid: 0px $elevation-low-mid-y-offset $elevation-low-strong-blur
  $elevation-low-strong-spread $elevation-low-mid-shadow-color;

$elevation-low-falloff: 0px $elevation-low-falloff-y-offset
  $elevation-low-falloff-blur $elevation-low-falloff-spread
  $elevation-low-falloff-shadow-color;

// /*************/
// /**  Medium **/
// /*************/

//* Shadow: Strong */
$elevation-medium-strong-shadow-color: rgba(0, 0, 0, 0.2);
$elevation-medium-strong-blur: 4px;
$elevation-medium-strong-spread: -4px;
$elevation-medium-strong-y-offset: 1px;

//* Shadow: Mid */
$elevation-medium-mid-shadow-color: rgba(0, 0, 0, 0.2);
$elevation-medium-mid-blur: 12px;
$elevation-medium-mid-spread: 0;
$elevation-medium-mid-y-offset: 2px;

//* Shadow: falloff */
$elevation-medium-falloff-shadow-color: rgba(0, 0, 0, 0.2);
$elevation-medium-falloff-blur: 24px;
$elevation-medium-falloff-spread: 2px;
$elevation-medium-falloff-y-offset: 4px;

//* Elevation/Medium */
$elevation-medium-strong: 0px $elevation-medium-strong-y-offset
  $elevation-medium-strong-blur $elevation-medium-strong-spread
  $elevation-medium-strong-shadow-color;

$elevation-medium-mid: 0px $elevation-medium-mid-y-offset
  $elevation-medium-strong-blur $elevation-medium-strong-spread
  $elevation-medium-mid-shadow-color;

$elevation-medium-falloff: 0px $elevation-medium-falloff-y-offset
  $elevation-medium-falloff-blur $elevation-medium-falloff-spread
  $elevation-medium-falloff-shadow-color;

:root {
  --elevation-low: #{$elevation-low-strong}, #{$elevation-low-mid},
    #{$elevation-low-falloff};

  --elevation-medium: #{$elevation-medium-strong}, #{$elevation-medium-mid},
    #{$elevation-medium-falloff};
}
