@use "sass:math";

$rem-base: 16;
$fixed-inc: 4; // 4px

:root {
  --rem-base: 16;

  /*****************/
  /* Fluid scale */
  /*****************/

  --fluid-scale-min: 8;
  --fluid-scale-max: 16;
  --fluid-scale-increment: 8;
  --fluid-scale-location: 0;

  --fluid-space-calc: calc(
    (
        (var(--fluid-scale-max) - var(--fluid-scale-min)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-min)
  );

  --fluid-scale-2xs: calc(
    (var(--fluid-space-calc) * 0.5) / var(--rem-base) * 1rem
  );
  --fluid-scale-xs: calc(var(--fluid-space-calc) / var(--rem-base) * 1rem);
  --fluid-scale-sm: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 1)) /
      var(--rem-base) * 1rem
  );
  --fluid-scale-md: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 2)) /
      var(--rem-base) * 1rem
  );
  --fluid-scale-lg: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 3)) /
      var(--rem-base) * 1rem
  );

  --fluid-scale-xl: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 4)) /
      var(--rem-base) * 1rem
  );

  --fluid-scale-2xl: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 5)) /
      var(--rem-base) * 1rem
  );
  --fluid-scale-3xl: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 6)) /
      var(--rem-base) * 1rem
  );
  --fluid-scale-4xl: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 7)) /
      var(--rem-base) * 1rem
  );
  --fluid-scale-5xl: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 8)) /
      var(--rem-base) * 1rem
  );
  --fluid-scale-6xl: calc(
    (var(--fluid-space-calc) + (var(--fluid-scale-increment) * 9)) /
      var(--rem-base) * 1rem
  );

  --fluid-scale-2xs-xs: calc(
    (
        (var(--fluid-scale-xs) - var(--fluid-scale-2xs)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-2xs)
  );

  --fluid-scale-xs-sm: calc(
    (
        (var(--fluid-scale-sm) - var(--fluid-scale-xs)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-xs)
  );

  --fluid-scale-sm-md: calc(
    (
        (var(--fluid-scale-md) - var(--fluid-scale-sm)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-sm)
  );

  --fluid-scale-md-lg: calc(
    (
        (var(--fluid-scale-lg) - var(--fluid-scale-md)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-md)
  );

  --fluid-scale-lg-xl: calc(
    (
        (var(--fluid-scale-xl) - var(--fluid-scale-lg)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-lg)
  );

  --fluid-scale-xl-2xl: calc(
    (
        (var(--fluid-scale-2xl) - var(--fluid-scale-xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-xl)
  );

  --fluid-scale-2xl-3xl: calc(
    (
        (var(--fluid-scale-3xl) - var(--fluid-scale-2xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-2xl)
  );

  --fluid-scale-3xl-4xl: calc(
    (
        (var(--fluid-scale-4xl) - var(--fluid-scale-3xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-3xl)
  );

  --fluid-scale-4xl-5xl: calc(
    (
        (var(--fluid-scale-5xl) - var(--fluid-scale-4xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-4xl)
  );

  --fluid-scale-5xl-6xl: calc(
    (
        (var(--fluid-scale-6xl) - var(--fluid-scale-5xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-5xl)
  );

  --fluid-scale-2xs-sm: calc(
    (
        (var(--fluid-scale-sm) - var(--fluid-scale-2xs)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-2xs)
  );

  --fluid-scale-xs-md: calc(
    (
        (var(--fluid-scale-md) - var(--fluid-scale-xs)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-xs)
  );

  --fluid-scale-sm-lg: calc(
    (
        (var(--fluid-scale-lg) - var(--fluid-scale-sm)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-sm)
  );

  --fluid-scale-md-xl: calc(
    (
        (var(--fluid-scale-xl) - var(--fluid-scale-md)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-md)
  );

  --fluid-scale-lg-2xl: calc(
    (
        (var(--fluid-scale-2xl) - var(--fluid-scale-lg)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-lg)
  );

  --fluid-scale-xl-3xl: calc(
    (
        (var(--fluid-scale-3xl) - var(--fluid-scale-xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-xl)
  );

  --fluid-scale-2xl-4xl: calc(
    (
        (var(--fluid-scale-4xl) - var(--fluid-scale-2xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-2xl)
  );

  --fluid-scale-3xl-5xl: calc(
    (
        (var(--fluid-scale-5xl) - var(--fluid-scale-3xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-3xl)
  );

  --fluid-scale-4xl-6xl: calc(
    (
        (var(--fluid-scale-6xl) - var(--fluid-scale-4xl)) *
          var(--fluid-scale-location)
      ) + var(--fluid-scale-4xl)
  );

  /*****************/
  /* Fixed scale */
  /*****************/
  --fixed-inc: 4;
  --rem-base-calc: var(--rem-base) * 1rem;

  --fixed-scale-1: #{math.div($fixed-inc * 1, $rem-base) * 1rem};
  --fixed-scale-2: #{math.div($fixed-inc * 2, $rem-base) * 1rem};
  --fixed-scale-3: #{math.div($fixed-inc * 3, $rem-base) * 1rem};
  --fixed-scale-4: #{math.div($fixed-inc * 4, $rem-base) * 1rem};
  --fixed-scale-5: #{math.div($fixed-inc * 5, $rem-base) * 1rem};
  --fixed-scale-6: #{math.div($fixed-inc * 6, $rem-base) * 1rem};
  --fixed-scale-7: #{math.div($fixed-inc * 7, $rem-base) * 1rem};
  --fixed-scale-8: #{math.div($fixed-inc * 8, $rem-base) * 1rem};
  --fixed-scale-9: #{math.div($fixed-inc * 9, $rem-base) * 1rem};
  --fixed-scale-10: #{math.div($fixed-inc * 10, $rem-base) * 1rem};
  --fixed-scale-11: #{math.div($fixed-inc * 11, $rem-base) * 1rem};
  --fixed-scale-12: #{math.div($fixed-inc * 12, $rem-base) * 1rem};
  --fixed-scale-13: #{math.div($fixed-inc * 13, $rem-base) * 1rem};
  --fixed-scale-14: #{math.div($fixed-inc * 14, $rem-base) * 1rem};
  --fixed-scale-15: #{math.div($fixed-inc * 15, $rem-base) * 1rem};
  --fixed-scale-16: #{math.div($fixed-inc * 16, $rem-base) * 1rem};
  --fixed-scale-17: #{math.div($fixed-inc * 17, $rem-base) * 1rem};
  --fixed-scale-18: #{math.div($fixed-inc * 18, $rem-base) * 1rem};
  --fixed-scale-19: #{math.div($fixed-inc * 19, $rem-base) * 1rem};
  --fixed-scale-20: #{math.div($fixed-inc * 20, $rem-base) * 1rem};
  --fixed-scale-22: #{math.div($fixed-inc * 22, $rem-base) * 1rem};
  --fixed-scale-24: #{math.div($fixed-inc * 24, $rem-base) * 1rem};
  --fixed-scale-28: #{math.div($fixed-inc * 28, $rem-base) * 1rem};
  --fixed-scale-30: #{math.div($fixed-inc * 30, $rem-base) * 1rem};
  --fixed-scale-32: #{math.div($fixed-inc * 32, $rem-base) * 1rem};
  --fixed-scale-34: #{math.div($fixed-inc * 34, $rem-base) * 1rem};
  --fixed-scale-36: #{math.div($fixed-inc * 36, $rem-base) * 1rem};
  --fixed-scale-38: #{math.div($fixed-inc * 38, $rem-base) * 1rem};
  --fixed-scale-40: #{math.div($fixed-inc * 40, $rem-base) * 1rem};
  --fixed-scale-44: #{math.div($fixed-inc * 44, $rem-base) * 1rem};
  --fixed-scale-48: #{math.div($fixed-inc * 48, $rem-base) * 1rem};
  --fixed-scale-52: #{math.div($fixed-inc * 52, $rem-base) * 1rem};
  --fixed-scale-56: #{math.div($fixed-inc * 56, $rem-base) * 1rem};
  --fixed-scale-60: #{math.div($fixed-inc * 60, $rem-base) * 1rem};
  --fixed-scale-64: #{math.div($fixed-inc * 64, $rem-base) * 1rem};
  --fixed-scale-72: #{math.div($fixed-inc * 72, $rem-base) * 1rem};
  --fixed-scale-80: #{math.div($fixed-inc * 80, $rem-base) * 1rem};
  --fixed-scale-96: #{math.div($fixed-inc * 96, $rem-base) * 1rem};

  /* ***************/
  /* Screen Sizes */
  /* ***************/
  --screen-2xs: calc(320 / var(--rem-base-calc));
  --screen-xs: calc(480 / var(--rem-base-calc));
  --screen-sm: calc(640 / var(--rem-base-calc));
  --screen-md: calc(768 / var(--rem-base-calc));
  --screen-lg: calc(1024 / var(--rem-base-calc));
  --screen-xl: calc(1280 / var(--rem-base-calc));
  --screen-2xl: calc(1536 / var(--rem-base-calc));
}
